$primary-color: white;
$bg-color: hsl(217, 18%, 25%);
$inverted-primary-color: black;
$bg-card-color: #272e37;
$bg-main-color: #222831;
$gradient: linear-gradient(
  91deg,
  rgba(144, 217, 224, 0.9) 0.2%,
  rgba(84, 96, 230, 0.9),
  100%
);
$inverted-gradient: linear-gradient(
  91deg,
  rgba(144, 217, 224, 0.9) 9.04%,
  rgba(84, 96, 230, 0.9),
  92.2%
);
