@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

:root,
body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Caveat", cursive;
  color: $primary-color;

  background-color: $bg-color;
}

#app {
  @include flexer(flex, column, center, center);
}
